main {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scvq {
    display: flex;
}

.p1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
}

.p2 {
    font-size: 18px;
    font-weight: 500;
    margin-left: 5px;
    opacity: 0.6;
    margin-top: 55px;
}